*{
  margin: 0;
  padding: 0;
}
scroll-view{
    padding-bottom:
}
.loadingMask{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
}
.crumbs{
  width:100%;
  line-height: 42px;
   background: #F2F2F2;
    border-bottom: 1px solid #dfdfdf;
    color: #f2f2f2;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 42px;
    overflow: hidden;
}
.crumbs view{
    max-width: 54%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    padding: 0 17px 0 8px;
    overflow: hidden;
    font-size: 16px;
    color: #1a1a1a;
    background: url(../../images/site_icon.png) no-repeat right center;
    background-size: auto 42px;
}
.crumbs image{
  width:35px;
  height:25px;
  position: relative;
  top:5px;
}
#grade{
    background-size: 56px 65px;
    width: 56px;
    height: 65px;
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 92px;
    background: url(../../images/grade_bg.png) no-repeat;
}
#grade.grade1{
    background-position:0 0;
}
#grade.grade2{
    background-position:0 -102px;
}
#grade.grade3{
    background-position:0 -211px;
}
#grade.grade4{
    background-position:0 -328px;
}
.text{
  padding:15px 10px;
}
.title{
    color: #000;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 5px;
    font-weight: 700;
    margin-top:5px;
}
.info{
  line-height: 25px;
  margin-bottom: 10px;
}
.author{
  color: #444;
}
.time{
    color: #ccc;
    font-size: 16px;
    margin-right: 10px;
}
.content .text{
    color: #444;
    line-height: 26px;
    font-size: 16px;
    padding-bottom: 12px;
    text-indent: 20px;
}
.comment view{
  font-size: 18px;
  font-weight: 600;
  margin-bottom:10px;
}
.comment text{
    color: #f00;
    font-size: 20px;
}
.exceeding{
    height: 500px;
    overflow: hidden;
    position: relative;
}
.more-content{
    width: 100px;
    margin: 0 auto;
}
.more-box{
    position: absolute;
    bottom:0;
    margin: 0 auto;
    height:70px;
    line-height:119px;
    width:100%;
    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);
}
.more{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #3c91c7;
    border-radius: 50px;
    margin-right: 5px;
    float: left;
    margin-top: 50px;
}
.more-icon{
        transition-duration: 0.5s;
    line-height: 28px;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    margin: 2px 2px 0px 5px;
    float: left;
}
.navgitor{
  border-top:8px solid #f2f2f2;
  padding:10px;

}
.navgitor view{
      display: block;
    background-size: 9px;
    margin-bottom: 2px;
    line-height: 25px;
}
.navgitor text{
  color: #0086c5;
}
.recommend-title{
    color: #333;
    width: 90%;
    padding:15px 0;
    float: left;
    padding-left: 15px;
    height: 24px;
    line-height: 24px;
    margin: 2%;
    margin-bottom: 0;
}
.recommend-title image{
    width: 20px;
    height:20px;
    position: relative;
    top: 3px;
    margin-right:5px;
}
.recommend-list{
    float: left;
    width: 100%;
    padding: 14px 0;
    border-top: 1px solid #f1f1f1;
    margin: 0;
}
.recommend-title view{
    display: inline-block;
    font-size: 13px;
}
.recommend-list image{
    width: 110px;
    height: 70px;
    float: left;
    margin:0 10px;
}
.recommend-list .recommend-content{
    vertical-align: middle;
    width: calc(100vw - 130px);
    float: left;
    box-sizing: border-box;
}
.recommend-list .recommend-content view{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.recommend-content .recommend-name{
        font-size: 16px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    line-height: 20px;
}
.footer{
  width: 100%;
  height: 37px;
  line-height: 37px;
  border-top:10px solid #e4e4e4;
}
.footer view{
  margin:0 auto;
  width:120px;
}
.footer image{
  width:35px;
  height:25px;
  position:relative;
  top:3px;
}